# python
.venv/
__pycache__/
*.pyc

# data/artifacts
data/
features/*.parquet
features/top20_alerts.csv
notebooks/.ipynb_checkpoints/

# allow keepers
!data/pcap/test/.gitkeep
!data/interim/zeek/.gitkeep
!features/.gitkeep
!notebooks/.gitkeep
